[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/jpreiss/crazyflie-firmware.git
	branch = collision_avoidance_rebase
[submodule "crazyflie-lib-python"]
	path = crazyflie-lib-python
	url = https://github.com/bitcraze/crazyflie-lib-python.git
	branch = master
[submodule "crazyflie-clients-python"]
	path = crazyflie-clients-python
	url = https://github.com/bitcraze/crazyflie-clients-python.git
	branch = develop
[submodule "crazyradio-firmware"]
	path = crazyradio-firmware
	url = https://github.com/bitcraze/crazyradio-firmware.git
[submodule "crazyflie2-nrf-firmware"]
	path = crazyflie2-nrf-firmware
	url = https://github.com/bitcraze/crazyflie2-nrf-firmware.git
[submodule "ros_ws/src/externalDependencies/libobjecttracker"]
	path = ros_ws/src/externalDependencies/libobjecttracker
	url = https://github.com/USC-ACTLab/libobjecttracker
[submodule "ros_ws/src/externalDependencies/libmotioncapture"]
	path = ros_ws/src/externalDependencies/libmotioncapture
	url = https://github.com/USC-ACTLab/libmotioncapture.git
[submodule "ros_ws/src/crazyflie_ros"]
	path = ros_ws/src/crazyflie_ros
	url = https://github.com/whoenig/crazyflie_ros.git
