<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find crazyswarm)/launch/crazyflieTypes.yaml" />
  <rosparam command="load" file="$(find crazyswarm)/launch/test/intcoords.yaml" />

  <node pkg="crazyswarm" type="crazyswarm_server" name="crazyswarm_server" output="screen" required="true">
    <rosparam>
      motion_capture_type: none
      save_point_clouds: "/dev/null"
    </rosparam>
  </node>
</launch>
