<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <rosparam command="load" file="$(find crazyswarm)/launch/crazyflies.yaml" />


  <node pkg="crazyflie_driver" type="crazyflie_server" name="crazyflie_server" output="screen">
    <rosparam>
      broadcast_address: "FFE7E7E7E7"
      #broadcast_uri: "radio://0/100/2M/FFE7E7E7E7"
      world_frame: "/world"
      genericLogTopics: ["log1"]
      genericLogTopicFrequencies: [10]
      # genericLogTopic_log1_Variables: ["ekfprof.usec_setup", "ekfprof.usec_innov", "ekfprof.usec_gain", "ekfprof.usec_corr", "ekfprof.usec_cov"]
      # genericLogTopic_log1_Variables: ["profiling.usec_ekf", "profiling.usec_traj", "profiling.usec_ctrl", "profiling.usec_idle"]
      # genericLogTopic_log1_Variables: ["stabilizer.x", "ctrltarget.x", "vicon.x", "stabilizer.z", "ctrltarget.z", "vicon.z"]
      genericLogTopic_log1_Variables: ["stabilizer.x", "vicon.x", "ctrltarget.x"]
      firmwareParams:
        flightmode:
          posCtrl: 1
        ctrlMel:
          kp_xy: 0.6 # p for position
          kd_xy: 0.5 # d for position
          ki_xy: 0.05
          i_range_xy: 2.0
          kR_xy: 70000 # p for attitude
          kw_xy: 20000 # d for attitude
          kR_z: 60000 # p for yaw
          kw_z: 12000  # d for yaw
          ki_m_z: 500     # yaw
          kd_omega_rp: 100 # roll and pitch angular velocity d gain
          i_range_m_z: 1500
          kp_z: 0.8
          kd_z: 0.5
          ki_z: 0.05
          i_range_z: 0.4
          mass: 0.032
          massThrust: 132000
        ring:
          effect: 14 # 6: double spinner, 7: solid color
          solidBlue: 20 # if set to solid color
          solidGreen: 0 # if set to solid color
          solidRed: 0 # if set to solid color
          headlightEnable: 0
      # tracking
      motion_capture_type: "vicon" # one of vicon,optitrack
      vicon_host_name: "vicon"
      # optitrack_local_ip: "localhost"
      # optitrack_server_ip: "optitrack"
      use_vicon_tracker: false # set to false to use custom object tracking instead
      save_point_clouds: ~/pointCloud.ot
      interactive_object: active-wand
      numMarkerConfigurations: 1
      markerConfigurations:
        "0":
          numPoints: 4
          offset: [0.0, -0.01, -0.04]
          points:
            "0": [0.0177184,0.0139654,0.0557585]
            "1": [-0.0262914,0.0509139,0.0402475]
            "2": [-0.0328889,-0.02757,0.0390601]
            "3": [0.0431307,-0.0331216,0.0388839]
      numDynamicsConfigurations: 1
      dynamicsConfigurations:
        "0":
          maxXVelocity: 2.0
          maxYVelocity: 2.0
          maxZVelocity: 3.0
          maxPitchRate: 20.0
          maxRollRate: 20.0
          maxYawRate: 10.0
          maxRoll: 1.4
          maxPitch: 1.4
          maxFitnessScore: 0.001
      print_latency: False
      write_csvs: True
      force_no_cache: False
      enable_parameters: True
      enable_logging: False
    </rosparam>
  </node>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <node pkg="crazyflie_manager" type="crazyflie_manager" name="crazyflie_manager" output="screen">
    <param name="csv_file" value="$(find crazyswarm)/launch/figure8_smooth.csv" />
    <param name="timescale" value="0.8" />
  </node>


<!--   <node name="vicon" pkg="vicon_ros" type="vicon_node" output="screen">
    <param name="hostName" value="vicon" />
    <param name="enableLatencyTopic" value="true" />
    <param name="enablePointCloudTopic" value="true" />
    <param name="enableTfBroadcast" value="true" />
  </node>

  <node name="object_tracker" pkg="object_tracker" type="object_tracker_node" output="screen">
    <rosparam command="load" file="$(find crazyswarm)/launch/object_tracker.yaml" />
  </node> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyswarm)/launch/test.rviz"/>

  <node pkg="rqt_gui" type="rqt_gui" name="rqt" args="--perspective-file $(find crazyswarm)/launch/rqt.perspective"/>

<!--   <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_x" args="/cf0A/log1/values[0] /cf0A/log1/values[1] /cf0A/log1/values[2]"/> -->

<!--   <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_y" args="/cf06/log1/values[3] /cf06/log1/values[4] /cf06/log1/values[5]"/>

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_3" args="/pose/pose/position/x /pose/pose/position/y"/> -->

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_x" args="/cf05/log1/values[0] /cf05/log1/values[1]"/> -->
  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_y" args="/cf05/log1/values[3] /cf05/log1/values[4] /cf05/log1/values[5]"/> -->
  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_3" args="/cf05/log1/values[4] /cf05/log1/values[5]"/> -->

</launch>
