<?xml version="1.0"?>

<launch>
  <node name="vicon" pkg="vicon_ros" type="vicon_node" output="screen">
    <param name="hostName" value="vicon" />
    <param name="enableLatencyTopic" value="true" />
    <param name="enablePointCloudTopic" value="true" />
    <param name="enableTfBroadcast" value="true" />
  </node>

  <node name="object_tracker" pkg="object_tracker" type="object_tracker_node" output="screen">
    <rosparam command="load" file="$(find object_tracker)/launch/object_tracker.yaml" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find object_tracker)/launch/test.rviz"/>

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2" args="/object_tracker/latency"/>
</launch>
