name: Crazyswarm ROS CI

on: [push, pull_request]

env:
  ROS_CI_DESKTOP: "`lsb_release -cs`"  # gives Ubuntu name, e.g. [precise|trusty|...]
  ROS_PARALLEL_JOBS: "-j8 -l6"

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        include:

          - os: ubuntu-16.04
            ros: kinetic
            pyVer: python

          - os: ubuntu-18.04
            ros: melodic
            pyVer: python

          - os: ubuntu-20.04
            ros: noetic
            pyVer: python3

    runs-on: ${{ matrix.os }}

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install ROS
      uses: ros-tooling/setup-ros@v0.2
      with:
        required-ros-distributions: ${{ matrix.ros }}

    - name: Install Dependencies
      run: |
        sudo apt install -y ros-${{ matrix.ros }}-tf ros-${{ matrix.ros }}-tf-conversions
        sudo apt install -y libpcl-dev
        sudo apt install -y libusb-1.0-0-dev sdcc
        sudo apt install -y swig lib${{ matrix.pyVer }}-dev ${{ matrix.pyVer }}-numpy ${{ matrix.pyVer }}-yaml ${{ matrix.pyVer }}-matplotlib ${{ matrix.pyVer }}-pytest ${{ matrix.pyVer }}-scipy

    - name: Install Embedded GCC for Ubuntu 20
      if: matrix.os == 'ubuntu-20.04'
      run: |
        sudo apt install -y gcc-arm-none-eabi

    - name: Install Embedded GCC for Ubuntu <20
      if: matrix.os != 'ubuntu-20.04'
      run: |
        sudo add-apt-repository -y ppa:team-gcc-arm-embedded/ppa
        sudo apt-get update
        sudo apt install -y gcc-arm-embedded

    - name: Build
      run: |
        source /opt/ros/${{ matrix.ros }}/setup.bash
        CSW_PYTHON=${{ matrix.pyVer }} ./build.sh

    - name: Test
      run: |
        cd ros_ws/src/crazyswarm/scripts
        ${{ matrix.pyVer }} -m pytest --version
        ${{ matrix.pyVer }} -m pytest
